<%- include("partials/header"); -%>

<h1> <%= titleText %> </h1>

<form>
    <input type="text" name ="blogText">
    <button type="submit" name = "button">Publish</button>
</form>

<%- include("partials/footer");-%>